


<ul id="pic-list"></ul>

<script>

Photo.fetchByUserId(<%= @user_id.to_s %>, function(data) {
  data.forEach(function(photo) {
    var link = "<li><img src='" + photo.url + "'></li>";
    $('#pic-list').prepend($(link));
  });
});













</script>