

<div id="content"></div>

<ul id="pic-list"></ul>

<script>

// Note: this code actually prints the pictures
// PT.Photo.fetchByUserId(<%= @user_id.to_s %>, function(data) {
//   data.forEach(function(photo) {
//     var link = "<li><img src='" + photo.url + "'></li>";
//     $('#pic-list').prepend($(link));
//   });
// });

var users = <%= User.all.to_json.html_safe %>;

PT.initialize(<%= @user_id.to_s %>);













</script>